html, body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.print-move {
    height: 50%;
    width: 3.5%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
}

.print-button {
    height: 100%;
    width: 70%;
    background-color: gray;
    opacity: 0.5;
}

.comp-move {
    height: 50%;
    width: 3.5%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.comp-button {
    height: 100%;
    width: 70%;
    background-color: gray;
    opacity: 0.5;
}

.above-move {
    height: 7%;
    width: 50%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
}

.above-button {
    height: 70%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.bottom-move {
    height: 7%;
    width: 50%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: start;
}

.bottom-button {
    height: 70%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.office {
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 200%;
    height: 200%;
    background-color: aqua;
    z-index: -1;
    transition: transform 0.8s;
}

.office.comp {
    transform: translate(0, -25%);
}

.office.abv {
    transform: translate(0, 25%);
}

.office.print {
    transform: translate(-25%, -25%);
}