html, body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.print-move {
    height: 50%;
    width: 3.5%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
}

.print-button {
    height: 100%;
    width: 70%;
    background-color: gray;
    opacity: 0.5;
}

.comp-move {
    height: 50%;
    width: 3.5%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.comp-button {
    height: 100%;
    width: 70%;
    background-color: gray;
    opacity: 0.5;
}

.above-move {
    height: 7%;
    width: 50%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
}

.above-button {
    height: 70%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.bottom-move {
    height: 7%;
    width: 50%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: start;
}

.bottom-button {
    height: 70%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}