html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.print-move {
    height: 50%;
    width: 3.5%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-start;
}

.print-button {
    height: 100%;
    width: 70%;
    background-color: gray;
    opacity: 0.5;
}

.comp-move {
    height: 50%;
    width: 3.5%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.comp-button {
    height: 100%;
    width: 70%;
    background-color: gray;
    opacity: 0.5;
}

.above-move {
    height: 7%;
    width: 50%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: end;
}

.above-button {
    height: 70%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.bottom-move {
    height: 7%;
    width: 50%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: start;
}

.bottom-button {
    height: 70%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.office {
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 200vw;
    height: 200vh;
    background-color: aqua;
    transition: transform 0.8s;
    align-items: center;
    justify-content: center;
}

.office-img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.office.comp {
    transform: translate(25%, -25%);
}

.office.abv {
    transform: translate(25%, 25%);
}

.office.print {
    transform: translate(-25%, -25%);
}

.computer {
    width: 30%;
    height: 35%;
    bottom: 10%;
    left: 10%;
    background-color: gray;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.comp-screen {
    width: 92%;
    height: 90%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.comp-light {
    background-color: green;
    bottom: 5px;
    right: 20%;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.comp-light.warning {
    background-color: yellow;
}

.comp-light.danger {
    background-color: red;
}

.comp-icons {
    width: 80px;
    height: 80px;
    margin-left: 10%;
    border-radius: 50%;
    background-color: yellow;
}